name: Response Time CI
on:
  schedule:
    - cron: "0 23 * * *"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  release:
    name: Measure response time
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: "response-time"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
