name: Static Site CI
on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
  repository_dispatch:
permissions:
  contents: write
  pages: write
jobs:
  release:
    name: Build and deploy status website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: "site"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
