name: Update Template CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  release:
    name: Update from Upptime template
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: upptime/uptime-monitor@v1.38.2
        with:
          command: "update-template"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
