name: Uptime CI
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
jobs:
  release:
    name: Check uptime
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: upptime/uptime-monitor@v1.38.2
        with:
          command: "update"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
